.ContainerNotebook{
    background-color: transparent;
    margin-left: 5%;
    margin-top: 7%;
    position: absolute;
    width: 100%;
}

.ContainerNotebook img {
    background-color: transparent;
    width: 40%;
}