.ContainerNotebook{
    background-color: transparent;
    margin-right: 55%;
    margin-top: 7%;
    position: absolute;
}

.ContainerNotebook img {
    background-color: transparent;
    width: 120%;
}

.ScreenContent {
    position: absolute;
    top: 15%;
    left: 22%;
    width: 70.7%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ScreenContent img {
    width: 120%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .ContainerNotebook {
        display: none;
    }
}