.noticeBoard{
    height: 30%;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(218, 221, 11);
}

@media (max-width: 768px) {
   .noticeBoard{
       height: 20%;
       margin-top: 10%;
   }
}