.headerLogin {
    width: 100%;
    position: absolute;
    align-self: start;
    z-index: 11;
    height: 8%;
    display: flex;
    align-items: center;
    background-color: #ffc712;
}

.imgLeximForLogin {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: start;
    margin-left: 10%;
}

.imgLeximForLogin img, h1{
    background-color: transparent;
}

.imgLeximForLogin img {
    width: 4%;
}

@media (max-width: 768px) {
    .imgLeximForLogin {
        justify-content: center;
        margin-left: 0;
    }
    .imgLeximForLogin img {
        width: 8%;
    }
}