.footer{
    display: flex;
    margin-top: 20px;
    height: 15%;
    width: 100%;
    border-top: 2px solid #000000;
    text-align: center;
    align-items: center;
    font-size: 90%;
}
.ufcLink{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.outroslinks {
    display: flex;
    gap: 20px;
}
a {
    color: black;
    text-decoration: none;
}

.ufcIconLoginPage {
    justify-self: start;
    margin-left: 10%;
}

@media (max-width: 768px) {
    .footer{
        gap: 15%;
        font-size: 13px;
    }
    .outroslinks {
        flex-direction: column;
    }
}