.CalendarContainer{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.CalendarHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.buttonChangeMonth{
    border: none;
    cursor: pointer;
}

.IconChangeMonth{
    font-size: 1.3rem;
}

.CalendarGrid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}