*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundLogin {
    background-image: url('./assets/Icons/Background.png');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

