/* Centralizar o header */
.header {
    display: flex;
    justify-content: center; /* Centraliza as divs horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
}

.searchHeader {
    width: 33.3%;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
}

.imgUFC {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signIn {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilos para cada div interna */
.imgUFC img {
    width: 10%; /* Ajuste o tamanho da imagem conforme necessário */
}

.searchHeader input {
    padding: 1%;
    font-size: 80%;
    width: 80%; /* Ajuste a largura do campo de pesquisa conforme necessário */
}

.signIn button {
    padding: 1.5% 2.5%;
    font-size: 100%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}

@media (max-width: 768px) {
    .header{
        margin-top: 7%;
    }
    .imgUFC img {
        width: 30%;
    }
}